#{extends 'main.html' /}
#{set title:'Get Topics' /}

<div class="page-header">
    <h1>TopicSet</h1>
</div>


#{if flash.success}
	<div class="alert-message success">
        <a class="close" href="#">&times;</a>
        <p><strong>${flash.success}</strong></p>
      </div>
#{/if}
#{if flash.error}
	<div class="alert-message error">
        <a class="close" href="#">&times;</a>
        <p><strong>${flash.error}</strong></p>
      </div>
#{/if}

<form id="target">
		<fieldset>
        		<div class="clearfix">
         			<label for="normalSelect">Endpoint</label>
         			<div class="input">
         				<select name="endpoint" id="endpoint">
         					#{list endpoints, as : 'endpoint'}
           					<option value="${endpoint.url}">${endpoint.url}</option>
           					#{/list}
         				</select>
         			</div>
         		</div>
         		
	    		<div class="actions">
        			<input class="btn primary" type="submit" value="Get TopicSet" />
        			&nbsp;
        			<button type="reset" class="btn">Cancel</button>
        		</div>
        </fieldset>
<form>

<div id="topicset"></div>

<script type="text/javascript">
	// Capture Form Submit Event
	$('#target').submit(function() {
	$('#topicset').empty();
	$('#topicset').append('Loading...');
	$('#topicset').empty();
	$.post('@@{Application.postGetTopics()}', { endpoint: $('select option:selected').val() }, function(data){
		$('#topicset').append('<pre><code>' + data + '</code></pre>');	
	});
	return false;
	});

</script>


#{if flash.topics}
<h2>Response</h2>
<pre><code>${flash.topics}</code></pre>
#{/if}