#{extends 'main.html' /}
#{set title:'Subscribe' /}

<div class="page-header">
    <h1>Send Subscribe Messages</h1>
</div>


#{if flash.success}
	<div class="alert-message success">
        <a class="close" href="#">&times;</a>
        <p><strong>${flash.success}</strong></p>
      </div>
#{/if}
#{if flash.error}
	<div class="alert-message error">
        <a class="close" href="#">&times;</a>
        <p><strong>${flash.error}</strong></p>
      </div>
#{/if}

#{form @Application.postSubscribe()}
		<fieldset>
				<div class="clearfix">
        			<label for="topicName">Topic Name</label>
        			<div class="input">
        				<input type="text" name="topicName" id="content" class="xlarge" size="30" #{if topic}value="${topic.name}"#{/if}/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="topicPrefix">Topic Prefix</label>
        			<div class="input">
        				<input type="text" name="topicPrefix" id="content" class="xlarge" size="30" #{if topic}value="${topic.prefix}"#{/if}/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="topicURI">Topic URI</label>
        			<div class="input">
        				<input type="text" name="topicURI" id="content" class="xlarge" size="30" #{if topic}value="${topic.uri}"#{/if}/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="subscriber">Subscriber</label>
        			<div class="input">
        				<input type="text" name="subscriber" id="content" class="xlarge" size="30" #{if subscriber}value="${subscriber}"#{/if}/>
        			</div>
        		</div>
        
        		<div class="clearfix">
         			<label for="normalSelect">Endpoint</label>
         			<div class="input">
         				<select name="endpoint" id="endpoint">
         					#{list endpoints, as : 'endpoint'}
           					<option>${endpoint.url}</option>
           					#{/list}
         				</select>
         			</div>
         		</div>
         		
	    		<div class="actions">
        			<input class="btn primary" type="submit" value="Subscribe" />
        			&nbsp;
        			<button type="reset" class="btn">Cancel</button>
        		</div>
        </fieldset>
#{/form}


<!-- List all the subscriptions -->
#{if subscriptions}
	<table class="zebra-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Topic</th>
            <th>Subscriber</th>
          </tr>
        </thead>
        <tbody>
        #{list subscriptions, as : 'subscription'}
          <tr>
            <td>1</td>
            <td>Some</td>
            <td>One</td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}